body {
    font-family: 'Poppins', sans-serif;
    background-color:rgba(129, 63, 214, 0.05);
    
}

h1, h3 {
    font-size: 40px;
    font-weight: 700;
}

h2, h4 {
    font-size: 30px;
    font-weight: 600;
}

h1, h2 {
    color: #813fd6;
}

.card {
    border: 0;
    border-radius: 25px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.form-control {
    border: none;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 25px;
}

.form-control:focus {
    color: #000000;
    background-color: #FFFFFF;
    border: 1px solid #813fd6;
    outline: 0;
    box-shadow: none;
}

.btn {
    color: #FFFFFF;
    background: #813fd6;
    padding: 14px 28px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.btn:hover {
    background: #6A34B0;
    color: #FFFFFF;
}

.deposit-card,
.withdraw-card,
.balance-card {
    background-color: #813fd6;
}

#transaction {
    display: none;
}

